body{ 
    background: #EDEDED;
}

h1{
    margin: 30px 0 20px 0;
    text-align: center;
}

.btn{
    margin-bottom: 5px;
}

.table thead th {
    
   border-bottom: 2px solid #9F9F9F; 
}  
 
.table td, .table th {
 
    border-top: 1px solid #B2B2B2;
}